<div mat-dialog-content>
    <p>Modificar Inscripción</p>
    <mat-form-field appearance="fill">
        <mat-label>ID INSCRIPCIÓN</mat-label>
        <input disabled="true" matInput [(ngModel)]="inscripcion.idInscription">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>CODIGO ESTUDIANTE</mat-label>
        <input matInput [(ngModel)]="inscripcion.codStudent">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>CODIGO MATERIA</mat-label>
        <input matInput [(ngModel)]="inscripcion.codSubject">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>FECHA INSCRIPCIÓN</mat-label>
        <input matInput [(ngModel)]="inscripcion.dateRegistration">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
    <button mat-raised-button [mat-dialog-close]="inscripcion" cdkFocusInitial>Agregar</button>
</div>