<app-navbar></app-navbar>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="IdInscription">
    <th mat-header-cell *matHeaderCellDef> ID INSCRIPCIÓN </th>
    <td mat-cell *matCellDef="let element"> {{element.IdInscription}} </td>
  </ng-container>

  <ng-container matColumnDef="firstNameStudent">
    <th mat-header-cell *matHeaderCellDef> Nombre estudiante</th>
    <td mat-cell *matCellDef="let element"> {{element.firstNameStudent}} </td>
  </ng-container>

  <ng-container matColumnDef="lastNameStudent">
    <th mat-header-cell *matHeaderCellDef> Apellido estudiante </th>
    <td mat-cell *matCellDef="let element"> {{element.lastNameStudent}} </td>
  </ng-container>

  <ng-container matColumnDef="NameMateria">
    <th mat-header-cell *matHeaderCellDef> Nombre materia</th>
    <td mat-cell *matCellDef="let element"> {{element.NameMateria}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row (click)="editRow(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSize]="10" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>
  <button (click)="exportToExcel()" class="btn">Export to Excel</button>