<app-navbar></app-navbar>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="idInscription">
    <th mat-header-cell *matHeaderCellDef> ID INSCRIPCIÓN </th>
    <td mat-cell *matCellDef="let element"> {{element.idInscription}} </td>
  </ng-container>

  <ng-container matColumnDef="codSubject">
    <th mat-header-cell *matHeaderCellDef> CODIGO MATERIA</th>
    <td mat-cell *matCellDef="let element"> {{element.codSubject}} </td>
  </ng-container>

  <ng-container matColumnDef="codStudent">
    <th mat-header-cell *matHeaderCellDef> CODIGO ESTUDIANTE </th>
    <td mat-cell *matCellDef="let element"> {{element.codStudent}} </td>
  </ng-container>

  <ng-container matColumnDef="dateRegistration">
    <th mat-header-cell *matHeaderCellDef> FECHA REGISTRO</th>
    <td mat-cell *matCellDef="let element"> {{element.dateRegistration}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSize]="10" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>


<!--
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="ID_INSCRIPCION">
      <th mat-header-cell *matHeaderCellDef> ID INSCRIPCIÓN </th>
      <td mat-cell *matCellDef="let element"> {{element.id_inscripcion}} </td>
    </ng-container>
  
    <ng-container matColumnDef="CODIGO_MATERIA">
      <th mat-header-cell *matHeaderCellDef> CODIGO MATERIA</th>
      <td mat-cell *matCellDef="let element"> {{element.cod_materia}} </td>
    </ng-container>
  
    <ng-container matColumnDef="CODIGO_ESTUDIANTE">
      <th mat-header-cell *matHeaderCellDef> CODIGO ESTUDIANTE </th>
      <td mat-cell *matCellDef="let element"> {{element.cod_estudiante}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
-->
  <button (click)="exportToExcel()" class="btn">Export to Excel</button>