.contenedorfiltro_tabla{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedorTabla{
  width: 80%;
}
.general {
  background-color: white;
}
.loader {
  margin: 10px;
}
.errorInfo {
  width: 100%;
  display: block;
  text-align: center !important;
  font-size: 30px !important;
  color: white !important;
  background-color: #424242 !important;
  padding-top: 30px;
  padding-bottom: 20px;
}
section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
.demo-table {
  width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}
.marginTableForm {
  margin-top: 100px;
  display: flex;
  align-items: center;
  margin-left: 5% !important;
}

.buttonSearch {
  display: block;
  align-items: center;
  border-color: #ceeeb1;
  margin-left: 10px !important;
  margin-bottom: 2% !important;
}

.marginTable {
  display: block;
  align-items: center;
  margin-left: 5% !important;
  margin-right: 5% !important;
  margin-top: 10px !important;
}

.ordenadoClass {
  display: block;
  margin-bottom: 10px !important;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}