.navxd{
  display:flex ;
  width: 100%;
  background-color: #424242;
  padding: 20px;
}
.btn {
    background-color: transparent;
    border: 2px solid #D6F8B8;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-left: 20px;
    padding: 8px 20px;
    transition: all 0.3s ease-in-out;
}
.title{
    margin-left: 10%;
    font-size: 25px;
    width: 500px;
    color: #fff;
}
.btn-div{
  display: flex;
    margin-right: 10%;
    margin-left: auto;
    color: fff;
    
  }
  
  .btn.mat {
    background-color: #D6F8B8;
    color: #fff;
  }
  
  .btn:hover {
    box-shadow: 0 0 10px 0 rgba(0, 123, 255, 0.5);
  }