.conteProfile{
    background-color: white;
  }
  .imagen{
    height: 25%;
    background-color: aqua;
    align-items: center;
    text-align: center;
    align-content: center;
  }
  .imgPortada{
    position: absolute;
    display: flex;
    top:11%;
    height: 30%;
    width: 61.5%;
    
  }
  .imgMyPortada{
    border-radius: 10px ;
  width: 100%;
  height: 100%;
  }
  .imgProfile {
    margin: auto;
    display: flex;
    position: relative;
    width: 20%;
    height: 20%;
    background-color: transparent;
  }
  .imgMyProfile{
    width: 100%;
    width: 100%;
  }
  .inputImg{
    position: absolute;
    top: 52%;
    width: 300px;
    height: 20px;
    margin-left: 2%;

  }

  a{
    text-decoration: none;
  }
  
  .personal-datas {
    background-color: transparent;
  }
  
  .info {
    height: 80%;
    margin-left: 15px;
    background-color:transparent;  
    display: flex;
    margin-top: 25px;
  }
  
  .info-left {
    background-color: transparent;
    width: 50%;
  }
  
  .info-right {
    background-color: transparent;
    width: 50%;
    margin-left: 2%;
    
  }
  
  .matdividerProfile {
    width: 90%;

  }
  
  .xdd{
      display: flex;
      margin: 4% 0%; 
  }
  
  .input-conf {
    margin-left: 5%;
    border: 0;
    pointer-events: none;
    background-color: transparent;
  }
  
  h4 {
      width: 30%;
      font-weight: 500; 
  }
  
  [type="date"] {
    background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
  }
  
    [type="date"]::-webkit-inner-spin-button {
      display: none;
    }
  
    [type="date"]::-webkit-calendar-picker-indicator {
      opacity: 0;
    }