.contenedorfiltro_tabla{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenedorTabla{
  background-color: #FCC728;
  width: 80%;
}

.formularios{
  display: inline;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.formularios form{
  margin: 50px;
}
.formularios form input{
  font-family: 'Muli', sans-serif;
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #d1d1d1;
  border-radius: 10px;
}
textarea:focus, input:focus{
    outline-color: #FCC728;
    color: #FCC728;
}
input[type="submit"]{
  font-family: 'Muli', sans-serif;
  background-color: #fff;
  border: solid 1px #d1d1d1;
  transition: all 0.4s;
}
input[type="submit"]:hover{
  cursor: pointer;
  background-color: #FCC728;
  border: solid 1px #fff;
}
