.contenedorfiltro_tabla{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenedorTabla{
  background-color: #FCC728;
  width: 80%;
}

.formularios{
  display: inline;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.formularios form{
  margin: 50px;
}
.select{
  background-color: #f0f0f0;
  height: 40px;
  border-radius: 10px;
  margin-top: 0px;
  border: none;
  width: auto;
}
.formularios form input{
  font-family: 'Muli', sans-serif;
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #d1d1d1;
  border-radius: 10px;
}
textarea:focus, input:focus{
    outline-color: #FCC728;
    color: #FCC728;
}
input[type="submit"]{
  font-family: 'Muli', sans-serif;
  background-color: #fff;
  border: solid 1px #d1d1d1;
  transition: all 0.4s;
}
input[type="submit"]:hover{
  cursor: pointer;
  background-color: #FCC728;
  border: solid 1px #fff;
}
.card-container {
  display: flex;
  margin-left: 65%;
}
.card svg.material-icons path {
  fill: #ffffff;
}



.card {
  all: unset;
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: #d6f8b8;
  color: black;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}
