:host{
    background-color: #fff;
}
.container{
    padding: 10px;
    background-color: white;
    width: 850px;
    height: 500px;
}
.FormularioCrear{
    background-color: white;
}

.select{
    background-color: #f0f0f0;
    height: 40px;
    border-radius: 10px;
    margin-top: 0px;
    border: none;
}
.TipoP{
    display: inline;
    margin-left: 10%;
    width: 40%;
    height: 40px;
}
.conInputs{
    display: inline;
    margin-left:10%;
}
.conText{
    display: flex;
}
h3{
    margin-left: 5%;
}
.conText h3{
    display: inline;
    margin: auto;
}
form input{
    display: inline;
    width: 40%;
    margin: auto;
    font-family: 'Muli', sans-serif;
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #d1d1d1;
    border-radius: 10px;
  }
  .inpCod{
    margin-left:5% ;
  }
  textarea:focus, input:focus{
      outline-color: #FCC728;
  }
  input[type="submit"]{
    display: flex;
    position: relative;
    margin-left: 80%;
    font-family: 'Muli', sans-serif;
    background-color: #fff;
    border: solid 1px #d1d1d1;
    transition: all 0.4s;
  }
  input[type="submit"]:hover{
    cursor: pointer;
    background-color: #FCC728;
    border: solid 1px #fff;
  }

  .botonEnvi{
    margin-top: 20px;
    display: flex;
  }
  .formularios form{
    margin: 50px;
  }